{# show_all.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>All Products</title>
</head>
<body>
<h1>All Products</h1>

<table>
    <thead>
    <tr>
        <th>Nom du jeu</th>
        <th>Prix</th>
        <th>Platforme</th>
        <th>Éditeur</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.platform }}</td>
            <td>{{ product.publisher }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>