
<style>
    /* Base style for the div container */
    div {
        border: 1px solid #e0e0e0;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #f5f5f5;
    }

    /* Title style */
    h2 {
        margin-top: 0;
        color: #333;
    }

    /* Style for the spans */
    span {
        font-weight: bold;
        margin-right: 5px;
        color: #666;
    }

    /* Style for the information parts */
    div > div {
        margin-top: 5px;
    }

    /* Style for the spans inside the information parts */
    div > div > span {
        display: inline-block;
        width: 100px;
        color: #444;
    }

</style>
{% block body %}
        <div>
            <h2>info de produit</h2>
            <div>
                <span>Nom:</span>
                <span>{{ product.name }}</span>
            </div>
            <div>
                <span>Prix:</span>
                <span>{{ product.price }}</span>
            </div>
            <div>
                <span>Plateforme:</span>
                <span>{{ product.platform }}</span>
            </div>
            <div>
                <span>Éditeur:</span>
                <span>{{ product.publisher }}</span>
            </div>
        </div>
{% endblock %}
